/* ================= admin ================= */
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

/* HEADER */
.header {
  height: 55px;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 15px;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  width: 220px;
  height: 100%;
  background: #333;
  display: none;
}

.sidebar a {
  display: block;
  padding: 12px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.sidebar a:hover {
  background: #444;
}

/* CONTENT */
.content {
  padding: 20px;
}

.section.hidden {
  display: none;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

button {
  cursor: pointer;
}

/* ================= admin close ================= */